.background-image {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .background-image {
    width: 50dvw;
    position: absolute;
    top: 0;
    left: 80px;
  }

}