<ng-container [ngSwitch]="currentViewMode">
  <app-info-first 
    *ngSwitchCase="viewMode.First"
    (nextView)="currentViewMode = viewMode.Second">
  </app-info-first>

  <app-info-second 
    *ngSwitchCase="viewMode.Second"
    (nextView)="currentViewMode = viewMode.Third">
  </app-info-second>

  <app-info-third 
    *ngSwitchCase="viewMode.Third"
    (goToContact)="currentViewMode = viewMode.Contact"
    (goToPriceList)="currentViewMode = viewMode.PriceList">
  </app-info-third>

  <app-contact-view 
    *ngSwitchCase="viewMode.Contact"
    (goBack)="currentViewMode = viewMode.Third">
  </app-contact-view>
</ng-container>