<div>
  <app-background-image [backgroundImages]="backgroundImages"></app-background-image>
  <div class="overlay">
    <div class="overlay-text__headline">Is he any good?</div>

    <div class="overlay-text__sub-heading">Personalized Face-to-Face Service</div>
    <div class="overlay-text__note">He ain't no bot or AI - he's a real dude!</div>
    <div class="overlay-text__note">*The dude in the pic is AI (too good looking)</div>

    <div class="overlay-text__sub-heading">Experience & Intelligence</div>
    <div class="overlay-text__note">He is actually smart and knows his stuff - Qualified CA(SA) with 17 years of experience</div>

    <div class="overlay-text__sub-heading">Affordability</div>
    <div class="overlay-text__note">He is really cheap - not the stingy kinda cheap</div>
    <div class="overlay-text__note">Lowest rates in the market - we checked</div>

    <div class="overlay-text__bold">So yeah - he is very good at what he does</div>
    <div class="overlay-text__note">(unlike your tax guy)</div>

    <div class="button-container">
      <button class="call-to-action-button" (click)="onImSold()">I'm Sold!</button>
      <button class="call-to-action-button" (click)="onHowCheap()">How Cheap?</button>
    </div>
  </div>
</div>
